doctype html
html
  head
    title= title
    script(src="https://cdn.auth0.com/w2/auth0-7.1.min.js")
  body
    block content

  script.
    var auth0 = new Auth0({
      domain:       '#{env.AUTH0_DOMAIN}',
      clientID:     '#{env.AUTH0_CLIENT_ID}',
      callbackURL:  '#{env.AUTH0_CALLBACK_URL}'
    });

    function signIn() {
      auth0.login({
        response_type: 'code',
        scope: 'openid profile read:todo offline_access',
        audience: 'http://todoapi2.api',
        sso: true
      });
    }

    function refreshToken(refresh_token) {
      auth0.refreshToken(refresh_token, function (err, result) {
        console.log('----- ' + result.id_token);
        console.log('----- ' + result.access_token);
      });
    }